table {
    width: 50%;
  }
.search-div{
  .button-create{
    padding: .3rem 1rem;
    border: none;
    box-shadow: 5px 5px 10px #888;
    span{
      font-size: 20px;
      color: #000;
    }
  }
}

.edit-delete{
  padding: 0;
  margin: 0;
  list-style-type: none;
  gap: 20px;
  button{
    border: none;
    box-shadow: 3px 3px 5px #888;
  }
  li{
    border: none;
    .launch{
      color: green;
      outline: none;

    }
    .delete_details{
      color: red;
      outline: none;
    }
  }
}